@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.countCardContainer{
    width: 30%;
    height: fit-content;
    padding: 1rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    font-family: "Quicksand", serif;
}

.countCardDisplay{
    font-size: 2rem;
    color: black;
    font-weight: bolder;
    margin-bottom: 2rem;
}

.countCardButton{
    width: 40%;
    padding: 0.6rem;
    border-radius: 0.5rem;
    font-weight: bold;
    background-color: lightgrey;
    transition: 0.5s;
}

.countCardButton:hover{
    background-color: darkgray;
    transform: scale(1.05);
}